{% extends "base.html" %}
{% block content %}
<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Play for free</h1>
  <p class="lead">Create your account and discover more ways to play and win </p>
  <hr class="my-4">
  <p>Test your skills by climbing up the leaderboard chart</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>



  <div class="card" style="width: 28rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">MasterMind</h5>
      <p class="card-text">Break the secret code in the fewest number of guesses.</p>
      <a href="#" class="btn btn-primary">Play Game</a>
    </div>
  </div>



{% endblock %}
