{% extends "base.html" %}
{% block content %}
<form  class="form form-horizontal" method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class_="form-control", size=32, placeholder="email address") }}
    </div>
    <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class_="form-control", size=32, placeholder="Username") }}
    </div>
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class_="form-control", size=32, placeholder="Password") }}
    </div><br>
    <div class="form-group">
        {{ form.pass_confirm.label }}
        {{ form.pass_confirm(class_="form-control", size=32, placeholder="Confirm Password") }}
    </div><br>
    {{ form.submit(class_="form form-horizontal") }}
</form>



{% endblock %}


