{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <p>

    </p>
    <h3> I've chosen a 4 digit number, can you guess it ? </h3><br><br>


    <form  class="form form-horizontal" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.guesscombo(class_="form-control", size=10) }}
        </div>
        {{ form.submit(class_="form form-horizontal") }}
    
    </form>

    <br>The generated guess is {{answer}}

    <br> Attempts: {{attempts-1}}

    <br>
    <br> Correct position: {{correctposition}}
    <br> Wrong position: {{wrongposition}}

    

  </p>

  </div>
{% endblock %}
