{% extends "base.html" %}
{% block content %}
  <div class="jumbotron text-center">
    <p>

    </p>
    <h1 class="">Please select difficulty:</h1>

<br>
<br>


<!--  
Call start game function and passes string back to server as parameter so we can adjust diffculty
--> 

    <p>

      <a href="{{ url_for('game.startgame', level='easy') }}" class="btn btn-success">Easy</a>



      <a href="{{ url_for('game.startgame', level='medium') }}" class="btn btn-warning">Medium</a>

        
      <a href="{{ url_for('game.startgame', level='hard') }}" class="btn btn-danger">Hard</a>

  </p>

  </div>
{% endblock %}
